* { 
    color: rgb(0,0,0; 
  
}

header {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
   }
 
nav ul { list-style: none;}
 
 nav ul li {
    display: inline-block;
    margin-right: 2rem; }
 
 nav ul li a {
    text-decoration: none;
    color: rgb(245, 45, 6);
    font-weight: 900;
    font-size: x-large; }

 .btn {  
    display: none; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown {display: none;}

.hero-content {
    display: flex;
    gap: 100px;
    margin-top: 5px }

.hero-1 {background: url(2.jpg)  rgb(63, 63, 125) ; background-size: cover; 
    font-family: 'Times New Roman', Times, serif;
     font-size: xx-large;}

.title h1 { font-family: 'Times New Roman', Times, serif;
     font-size: xx-large; }     


.hero img {
     max-width: fit-content; }
.event p {padding-left: 23px;}
.event-sponsors { margin-top: 5px;}
h2, .event-sponsors h3 , .tickets h3 { text-align: center; }
.event h2, .pagetitle h2  {padding-left: 5%;}

h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;}



h2 {
    color: rgb(19, 19, 19);
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-transform: uppercase;
}

h3,h4 {
    text-transform: uppercase;
    text-decoration: rgb(224, 107, 57);
    letter-spacing: .7px; }

.sponsorship  {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between; background-color: rgb(38, 113, 113);
}

.ticket-type {
    background-image: url(OIP.jpg);
    justify-content: space-around;
    align-items: center;
}

.contact-info { display: grid; 
}

.email, .address, .phone { display: flex; align-items: center; }

.contact-me {color: rgb(17, 17, 16); background-color: azure;}

.contact-us, .pagetitle {background: url(Om2Fbj.jpg); width: auto; height: 250px;} 
/* .p-align {text-align: center; margin-top: 30px; align-items: baseline; vertical-align: bottom;}  */
/* 
.pagetitle h2 {vertical-align: bottom;} */

.pagetitle, h3 {font-size: larger; font-weight: 500; font-style: oblique; }

.contact-div {background-image: url(Om2Fbj.jpg); display: block; }
h5 {color: rgb(253, 252, 250); font-size: larger; }

.main-contact p {font-size: larger; font-weight: bold; color: rgb(255, 255, 255)55, 240, 240); }
.footer {
    display: flex;
    gap: 340px;
    align-items: center; 
    padding-left: 2%;  
  bottom: 10px;
}
.p-align {
    color: rgb(255,255,255);
.imagecontainer {background-image: url(Om2Fbj.jpg);}
.social-media {display: flex; align-items: center;}
.hero-section, .About {
    display: flex;
    margin: 5%;
    gap: 100px;
}

.RSVP-form img {
    width: 200px;
}

.main { align-items: center; max-width: fit-content;}
.ticket-type {
    display: flex;
    gap: 30px;
    }
 
.Regular, .group, .VIP {background-color: azure;}    
.countdown { margin-bottom: 35px;}

 .RSVP-form {
    display: flex;
    justify-content: space-around;
    margin-top: 3px;  } 

 .main-form {background: url(2.jpg); background-position: center;
     background-repeat: no-repeat;}   

    .info  { display: flex; } 

.form  { border-radius: 6%;
        padding: 1%; padding-left: 20%;
    margin-top: 2%;}

    #Submit {
    
margin: 02%;}

/* button .explorebtn {border: bisque; border-radius: 2px; box-shadow: #5c0909;} */

@media screen and (max-width: 1000px) {
    header .Topnav { display: none;} 

    .btn { display: inline-block;
    color: aliceblue;} 

      .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content a {
        color: rgb(175, 175, 175);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }     
      
      .dropdown-content a:hover {background-color: #ddd;} 
      
      .show {display:block;}

    .explorebtn {display: none;}
        * { padding: 2px;}
        
     header { display: flex;
        gap: 5px;    }

    nav ul li a {
        font-weight: 600;
        font-size: large; }

    .sponsorship {display: grid;
    grid-template-columns: 1fr 1fr ;
padding-left: 37px; }

    .RSVP-form { display: grid;
        grid-template-columns: 100%;
        gap: 1px;}

    header { margin-bottom: .5px;}

    h1,h2 {margin-bottom: 3rem;
    font-weight: 600 ;
     font-size: larger;}

    h1 { text-transform: uppercase;}
    h2 { text-transform: capitalize;}

    .tabcontent { margin-top: 1px; }

    .hero-section {display: grid;}
    .hero-content {      display: grid;
         color: black; gap: 20px; }
         #hero-image {order: -1; width: 40%;}
         #Techguru {max-width: 100%; min-width: 100px;}

    
    .footer {
       display: block;
    }
}


.RSVP-form img {
    width: 200px;
}

.main { align-items: center; max-width: fit-content;}
.ticket-type {
    display: flex;
    gap: 30px;
    background-color: azure;}
 
.Regular, .group, .VIP {   background: url(download.jpeg);  }
.Regular h4, .Regular p, .group h4, .group p, .VIP h4,  .VIP p {color: beige;} 
.countdown { margin-bottom: 35px;}

 .RSVP-form {
    display: flex;
    justify-content: space-around;
    margin-top: 3px;    }

    .info  { display: flex; } 

.form  { border-radius: 6%;
        padding: 1%; padding-left: 20%;
    margin-top: 2%;}

    #Submit {
         /* padding-left: 20%;
    align-items: center; */
margin: 02%;}

@media screen and (max-width: 1000px) {
    header .Topnav { display: none;} 

    .btn { display: inline-block;
    color: aliceblue;} 

      .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content a {
        color: rgb(175, 175, 175);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }     
      
      .dropdown-content a:hover {background-color: #ddd;} 
      
      .show {display:block;}

    .explorebtn {display: none;}
        * { padding: 2px;}
        
     header { display: flex;
        gap: 5px;    }

    nav ul li a {
        font-weight: 600;
        font-size: large; }

    .sponsorship {display: grid;
    grid-template-columns: 1fr 1fr;
padding-left: 37px; }

    .RSVP-form { display: grid;
        grid-template-columns: 100%;
        gap: 1px;}

    header { margin-bottom: .5px;}

    h1,h2 {margin-bottom: 3rem;
    font-weight: 600 ;
     font-size: larger;}

    h1 { text-transform: uppercase;}
    h2 { text-transform: capitalize;}

    .tabcontent { margin-top: 1px; }
    .hero-content {      display: grid;
         color: black; gap: 20px; }
         #hero-image {order: -1; width: 40%;}
         #Techguru {max-width: 100%;}
}



 
